body{
    margin: 0px;
    padding: 0px;
    background-color:rgb(248, 248, 230);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: black;
}

#navbar{
    margin: 15px;
    padding: 15px;
    border: 0PX;
    background-color:rgb(182, 132, 6);
    color: rgb(236, 236, 226);
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.bemvindoss {
    margin: 50px;
    padding: 2px;
    border: 0px;
    background-color: rgb(182, 132, 6);
    font-family: 'Bold Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
}

#icone{
    width: 80px;
    height: 80px;
}
.imagem{
    width: 350px;
    height: 40px;
}

#contatos{
    position:fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    align-items: center;
    background-color:rgb(212, 153, 4);
    border-radius: 10px;
    opacity: 0.7;
    color: black;
}

#formulario{
    padding: 20px;
    background-color:rgb(182, 132, 6);
    text-align: left;
    color: rgb(253, 253, 253);
}

#carrosseis{
    width: 1050px;
    height: 950px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.carousel{
    display: flex;
    overflow: auto; 
    scroll-snap-type: x mandatory;
    width: 20%;
    height: 17%;
}

.calça{
    width: 210px;
    height: 140px;
}

.carousel img{ 
    width: 100%;
    position: sticky;
}

.rodape {
    background-color:rgb(78, 18, 18);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

img:hover {
    transform: scale(1.05);
}

.flex{
    display: flex;
    background-color: rgb(182, 132, 6);
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.imagemrodape  img{
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px dashed white;
  

}

